{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>plainrock127.online | Logviewer</h1>
        <h5 class="header col s12 light grey-text">This site is used to display Modmail log entries.</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/yY476sgyK4" class="btn waves-effect my-button">Discord</a>
            <a href="https://plainrock127.online" class="btn waves-effect my-button">Website</a>
            <a href="https://www.patreon.com/plainrockfm" class="btn waves-effect my-button">Patreon</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
